.container {
  margin: 0px auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.container h1 {
  flex-grow: 5;
}

.container a {
  color: hsla(0,0%,0%,0.7);
  text-decoration: none;
}

.container nav {
  flex-grow: 1;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .container ul {
    flex-direction: row;
  }
}
